@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

changeColor {
    display: flex;
    justify-content: center;
}

#red {
    margin-left: 57px;
}

body, html {
    width: 923px;
    height: 491px;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.welcome {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
}

.subheading {
    display: flex;
    justify-content: center;
    font-size: 2em;
}


.border {
    margin: 30px 200px;
    padding: 0;
    background-color: lightgray;
    border: 7px solid lightgray;
}

.primary-header {
    margin: 0;
    //padding: 15px;
    //height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.secondary-header {
    margin: 0;
    height: 20px;
    padding-bottom: 35px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-size: 3rem;
}

#name-display {
    margin: 0;
    padding: 30px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(240, 235, 235);
    font-family: 'ephesis', cursive;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 50px solid red;
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}